<div id="settings_plugin_timelapse">
  <button class="btn span6" id="clear_images" data-bind="click: delete_files"><span>Clear</span></button>
  <button class="btn span6" id="download_images" data-bind="click: download_zip"><span>Download Images</span></button>
</div>
